* {
    box-sizing: border-box;
}

body{
    background-color: rgba(3, 0, 0, 0.801);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #f1f1f1;
}

a:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}

a:active {
  background-color: aqua;
  text-decoration: none;
  color: #f1f1f1;
} 

.main-container {
    display: flex;
    position: relative;
}

.front-container-box{
  display: flex;
  width: 50%;
}
.back-container-box{
  width: 50%;
}
/*Nav bar */
nav{
  background: linear-gradient(to left, #3333ff 45%, #66ccff 100%);
  border-radius: 5px;
}

.nav-container{
  display: flex;
  position: relative;
  margin: 3px;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-text {
  color: #f1f1f1;
}

.logo-container{
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 32px;
  margin: 5px;
}

.menu-box{
  display: flex;
  color: #f1f1f1;
  align-items: center;
}

.menu-box span{
  margin: 0px 10px;
}

/* ACTIVITY LIST */
/* Float four columns side by side */
  .column {
    float: left;
    width: 100%;
    padding: 0 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: none;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }

    .main-container{
      display: block;
    }

    .front-container-box{
      width: 100%;
    }

    .back-container-box{
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    #des-box{
      display: none;
    }
  }

  .daily-activity-header{
    background: linear-gradient(to left, #3333ff 45%, #66ccff 100%);
    color: #f1f1f1;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 800;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
    background-color: #100e74;
    border-radius: 15px;
    font-size: small;
    overflow: hidden;
    margin: 10px 0px;
  }

  .card img{
    max-width: auto;
    max-height: 100px;
  }


  .container-box{
    display: flex;
    position: relative;
    font-family: cursive;
    margin-top: 5px;

  }

  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }

  .text-icon {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100%/6);
    flex-direction: column;
  }

  .topic-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    max-width: 100px;
    background: linear-gradient(to left, #3333ff 45%, #66ccff 100%);
    border-radius: 5px 0px 0px 5px;
    color: aliceblue;
    text-align: center;
  }

  .answer-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: auto;
    border-radius: 0px 5px 5px 0px;
    padding: 2px 5px;
    background-color: none;
    color: white;
  }

  #des-back-box {
    text-align:left;
    max-height: 25px;
    padding: 5px;
    overflow: hidden;
  }


  /* DASHBOARD */
  .dashboard-box{
    background: linear-gradient(to left, #3333ff 45%, #66ccff 100%);
    border-radius: 5px;
    color: #f1f1f1;
    width: 1000px;
    height: fit-content;
    padding: 10px;
    margin: 5px 0px;
    text-align: center;
  }

  .dashboard-text{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .dashboard-chart{
   background-color: #f1f1f1;
   height: 500px;
  }

