.cont {
    box-sizing: border-box;
}

.centerpic {
    display: flex;
    justify-content: flex-start;
    height: 400px;
}

body {
    background-color: #150015;
}

.even {
    display: flex;
    justify-content: space-evenly;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: auto;
    width: auto;
}