body{
    background-color: black;
    color: aliceblue;
    box-sizing: border-box;
    font-family: cursive;
}

button{
    background-color: lightslategray;
    color: azure;
    font-family: cursive;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(9, 9, 199);
}

.container button{
    width: 150px;
    background-color: black;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(43, 46, 49);
}

.container2 button{
    width: 150px;
    background-color: black;
}